<header>
	<h1>Jorge Jimenez Page</h1>
	<h2>Data Science</h2>
</header>
<!-- header is a HTML5 semantic tags
	represent a consensus of naming
	will be recognized by nonhuman agents, e.g. search engines and screen readers -->