<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Events", events_path %></li>
		<li><%= link_to "Shop", shop_path %></li>
		<li><%= link_to "Discussion", discussion_path %></li>
	</ul>
</nav>

<!-- nav is another HTML5 semantic tag -->
<!-- use of the RAILS link_to method
	use Rails own root
	might change path in the root rb file and everything will change -->
